body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espaciado global */
.container {
    padding: 2rem 1rem;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem 0.5rem;
    }
}
